:root {
    --primary-text-color: #4cff2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

body {
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#screen {
    display: block;
    border: 2px solid var(--primary-text-color);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}